{{define "_footer"}}
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
      <div class="row site-animate">
         <div class="col-md-12 text-center">
          <div class="site-footer-widget mb-4">
            <ul class="site-footer-social list-unstyled">
              <li class="site-animate" id="sosmed-ig">
                <a href="https://www.instagram.com/zonakarikatur" target="_blank"><span class="fab fa-instagram"></span></a>
              </li>
              <li class="site-animate" id="sosmed-wa">
                <a href="https://wa.me/6281286185009?text=Hallo,%20Saya%20mau%20bertanya%20..." target="_blank"><span class="fab fa-whatsapp"></span></a>
              </li>
              <!-- <li class="site-animate" id="sosmed-line"></li> -->
              <li class="site-animate" id="sosmed-gmail">
                <a href="mailto:zonakarikaturofficial@gmail.com"><span class="fab fa-google"></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 text-center">

          <p>&copy;<script>document.write(new Date().getFullYear());</script> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
{{end}}