<!DOCTYPE html>
<html lang="en">
  {{template "_header" .}}

    <section class="site-section parallax" id="section-gallery">
      <div class="container">
        <div class="row site-custom-gutters">
          <div class="col-md-12 text-center mb-5 site-animate">
            <h2 class="display-4">Gallery</h2>
          </div>
          <div class="col-md-12 text-center">
            <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist"> 
              <li class="nav-item site-animate">
                <a class="nav-link active" onclick="semua()" id="btn_all" data-toggle="pill">All</a>
              </li>   

              <li class="nav-item site-animate dropdwn-toggle" data-toggle="dropdown">
                <a class="nav-link" data-toggle="pill" id="btn_karikatur">Karikatur
                  <span class="oi oi-caret-bottom" aria-hidden="true"></span>
                </a>
              </li>
              <ul class="dropdown-menu" role="menu">
                <li class="nav-item site-animate">
                  <a class="nav-link" onclick="fullbody()" id="btn_full_body" data-toggle="pill">Full Body</a>
                </li>
                <li class="nav-item site-animate">
                  <a class="nav-link" onclick="halfbody()" id="btn_half_body" data-toggle="pill">Half Body</a>
                </li>
              </ul>

              <li class="nav-item site-animate">
                <a class="nav-link" onclick="ilustrasi()" id="btn_ilustrasi" data-toggle="pill">Ilustrasi Wajah</a>
              </li>
              <li class="nav-item site-animate">
                <a class="nav-link" onclick="mozaik()" id="btn_mozaik" data-toggle="pill">Mozaik</a>
              </li>
              <li class="nav-item site-animate">
                <a class="nav-link" onclick="sketsa()" id="btn_sketsa" data-toggle="pill">Sketsa</a>
              </li>
              <li class="nav-item site-animate">
                <a class="nav-link" onclick="vexel()" id="btn_vexel" data-toggle="pill">Vexel Art</a>
              </li>             
            </ul>
          </div>

          <!-- Gallery List -->

        </div>
        
        <center>
          <div id="image-loader"></div>
        </center>
        <!-- <p class="mb-0" id="show_more"><a class="btn btn-primary btn-sm">Show More</a></p> -->
      </div>
    </section>
    <!-- END section -->

    {{template "_footer" .}}

    <!-- loader -->
    <div id="site-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    
    <script src="/assets2/js/jquery.min.js"></script>
    <script>
      var state = "";
      function semua(){
        $(".all").show();
        state = "all";
      }
      function fullbody(){
        // $("#btn_karikatur").addClass("active");
        $(".all").hide();
        $(".karikatur-full-body").show();
        state = "full";
      }
      function halfbody(){
        // $("#btn_karikatur").addClass("active");
        $(".all").hide();
        $(".karikatur-half-body").show();
        state = "half";
      }
      function mozaik(){
        $(".all").hide();
        $(".mozaik").show();
        state = "mozaik";
      }
      function sketsa(){
        $(".all").hide();
        $(".sketsa").show();
        state = "sketsa";
      }
      function vexel(){
        $(".all").hide();
        $(".vexel").show();
        state = "vexel";
      }
      function ilustrasi(){
        $(".all").hide();
        $(".ilustrasi-wajah").show();
        state = "ilustrasi";
      }
      $(document).ready(function(){
        getBtnWhatsapp();
        $("#nav-about").attr("href", domain + "/#section-about");
        $("#nav-offer").attr("href", domain + "/#section-offer");
        $("#nav-testimony").attr("href", domain + "/#section-testimoni");
        $("#nav-gallery").attr("href", "#section-gallery");
        $("#nav-contact").attr("href", domain + "/#section-contact");
        $("#nav-faq").attr("href", domain + "/#section-faq");
        $("#nav-tnc").attr("href", domain + "/#section-tnc");

        $('html, body').animate({
            scrollTop: $("#section-gallery").offset().top
        }, 1000);

        $(window).scroll(function() {
          function elementScrolled(elem) {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();
            var elemTop = $(elem).offset().top;
            return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
          }
          if(elementScrolled('#image-loader')) {
            loadGallery();
            // setTimeout(loadGallery, 700);
            switch(state) {
              case "full":
                fullbody();
                break;
              case "half":
                halfbody();
                break;
              case "mozaik":
                mozaik();
                break;
              case "vexel":
                vexel();
                break;
              case "ilustrasi":
                ilustrasi();
                break;
              default :
                semua();
            }
          }
        });
      });
    </script>
    <script src="/assets2/js/popper.min.js"></script>
    <script src="/assets2/js/bootstrap.min.js"></script>
    <script src="/assets2/js/jquery.easing.1.3.js"></script>
    <script src="/assets2/js/jquery.waypoints.min.js"></script>
    <script src="/assets2/js/owl.carousel.min.js"></script>
    <script src="/assets2/js/jquery.magnific-popup.min.js"></script>

    <script src="/assets2/js/bootstrap-datepicker.js"></script>
    <script src="/assets2/js/jquery.timepicker.min.js"></script>

    <script src="/assets2/js/jquery.animateNumber.min.js"></script>


    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
    <!-- <script src="/assets2/js/google-map.js"></script> -->

    <script src="/assets2/js/main.js"></script>
    <script src="/assets2/js-view/igorescobar-jQuery-Mask-Plugin-535b4e4/jquery.mask.js"></script>
    <script src="/assets2/js-view/domain.js"></script>
    <script src="/assets2/js-view/index.js"></script>


  </body>
</html>
