<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title>Gallery &mdash; Zona Karikatur</title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="/node_modules/chocolat/dist/css/chocolat.css"
    />

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />
  </head>

  <body>
    <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        {{template "_header" .}}

        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Gallery</h1>
              <div class="section-header-button">
                <a href="create-gallery" class="btn btn-icon btn-primary"
                  ><i class="fas fa-plus"></i> Add New</a
                >
              </div>
            </div>

            <div class="section-body gallery">
              <div class="form-group row mb-4">
                <div class="col-sm-12 col-md-3">
                  <select
                    class="form-control selectric"
                    id="selectBox"
                    onchange="changeCategory();"
                  >
                    <option value="1">Semua</option>
                    <option value="2">Karikatur Full Body</option>
                    <option value="3">Karikatur Half Body</option>
                    <option value="4">Ilustasi Wajah</option>
                    <option value="5">Mozaik</option>
                    <option value="6">Sketsa Digital</option>
                    <option value="7">Vexel Art</option>
                  </select>
                </div>
              </div>
              <div class="row" id="galleries"></div>
              <div style="height: 170px;"></div>
            </div>
            <div id="image-loader"></div>
          </section>
        </div>
        {{template "_footer" .}}
      </div>
    </div>

    <!-- General JS Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="/node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- Script -->
    <script>
      var state = "";
      function changeCategory() {
        var selectBox = document.getElementById("selectBox");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        switch (selectedValue) {
          case "1":
            semua();
            break;
          case "2":
            fullbody();
            break;
          case "3":
            halfbody();
            break;
          case "4":
            ilustrasi();
            break;
          case "5":
            mozaik();
            break;
          case "6":
            sketsa();
            break;
          case "7":
            vexel();
            break;
        }
      }
      function semua() {
        $(".all").show();
        state = "all";
      }
      function fullbody() {
        // $("#btn_karikatur").addClass("active");
        $(".all").hide();
        $(".karikatur-full-body").show();
        state = "full";
      }
      function halfbody() {
        // $("#btn_karikatur").addClass("active");
        $(".all").hide();
        $(".karikatur-half-body").show();
        state = "half";
      }
      function mozaik() {
        $(".all").hide();
        $(".mozaik").show();
        state = "mozaik";
      }
      function sketsa() {
        $(".all").hide();
        $(".sketsa").show();
        state = "sketsa";
      }
      function vexel() {
        $(".all").hide();
        $(".vexel").show();
        state = "vexel";
      }
      function ilustrasi() {
        $(".all").hide();
        $(".ilustrasi-wajah").show();
        state = "ilustrasi";
      }

      $(document).ready(function () {
        loadGallery();
        $(window).scroll(function () {
          function elementScrolled(elem) {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();
            var elemTop = $(elem).offset().top;
            return elemTop <= docViewBottom && elemTop >= docViewTop;
          }
          if (elementScrolled("#image-loader")) {
            loadGallery();
            switch (state) {
              case "full":
                fullbody();
                break;
              case "half":
                halfbody();
                break;
              case "mozaik":
                mozaik();
                break;
              case "vexel":
                vexel();
                break;
              case "sketsa":
                sketsa();
                break;
              case "ilustrasi":
                ilustrasi();
                break;
              default:
                semua();
            }
          }
        });
      });
    </script>

    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->

    <!-- Add JS -->
    <script src="/assets2/js-view/indexAdmin.js"></script>
    <script src="/assets2/js-view/gallery.js"></script>
  </body>
</html>
