<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <link rel="icon" href="/assets2/images/logo.jpg" />
    <title>Password &mdash; Zona Karikatur</title>

    <!-- General CSS Files -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />
  </head>

  <body>
    <div id="app">
      <div class="main-wrapper">
        <div class="navbar-bg"></div>
        {{template "_header" .}}

        <!-- Main Content -->
        <div class="main-content">
          <section class="section">
            <div class="section-header">
              <h1>Password</h1>
            </div>

            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <form id="form" class="needs-validation" novalidate="">
                      <div class="card-header">
                        <h4>Edit Password</h4>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="form-group col-md-6 col-12">
                            <label class="col-form-label text-md-right"
                              >Old Password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="password_lama"
                              required=""
                            />
                            <div class="invalid-feedback">
                              Please fill in the old passwrod
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-md-6 col-12">
                            <label class="col-form-label text-md-right"
                              >New Password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="password_baru"
                              required=""
                            />
                            <div class="invalid-feedback">
                              Please fill in the new password
                            </div>
                          </div>
                          <div class="form-group col-md-6 col-12">
                            <label class="col-form-label text-md-right"
                              >Confirm Password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="password_konfirmasi"
                              required=""
                            />
                            <div class="invalid-feedback">
                              Please fill in the confirm password
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-right">
                        <button class="btn btn-primary">Save Changes</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {{template "_footer" .}}
      </div>
    </div>

    <!-- General JS Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/assets/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/custom.js"></script>

    <!-- Page Specific JS File -->

    <!-- Add JS -->
    <script src="/assets2/js-view/domain.js"></script>
    <script src="/assets2/js-view/indexAdmin.js"></script>

    <!-- Script -->
    <script>
      $("#form").submit(function (e) {
        e.preventDefault();

        var password_lama = $("#password_lama").val();
        var password_baru = $("#password_baru").val();
        var password_konfirmasi = $("#password_konfirmasi").val();

        if (password_baru !== password_konfirmasi) {
          failedAlert("Password konfirmasi berbeda");
          return;
        }

        var jsonData = JSON.stringify({
          password_baru,
          password_lama,
        });

        $.ajax({
          url: domain + "/api/password",
          type: "POST",
          headers: { Authorization: "Bearer " + token },
          data: jsonData,
          contentType: "application/json",
          success: function (resp) {
            Swal.fire("Updated!", "Password telah diperbarui.", "success");
            setTimeout(function () {
              location.reload();
            }, 3000);
          },
          error: function (error) {
            failedAlert(error.responseText);
          },
        });
      });
    </script>
  </body>
</html>
